@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition-property: background-color, height, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}
body {
  font-family: "Open Sans", sans-serif;
}
.leaflet-container {
  height: 100vh;
}
.leaflet-popup-content {
  width: 20rem !important;
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0;
}
.sensor-value {
  display: grid;
  margin: 0.5rem 0;
  gap: 0.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: center;
}
.sensor-value div,
.sensor-value a {
  border-radius: 0.3rem;
  background-color: rgb(8 51 68);
  color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sensor-value div p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: bold;
}
.sensor-value div p.value {
  font-weight: 500;
  font-size: 1.8rem;
}
.sensor-value div p span {
  font-size: 0.8rem;
  display: block;
  margin-top: -0.3rem;
  padding-bottom: 0.5rem;
}
.sensor-value a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.1s ease-in-out;
}

.sensor-value a:hover {
  background-color: rgb(22 78 99);
}

.detail {
  display: flex;
}
.detail .leaflet-popup-content {
  width: 100% !important;
  min-width: 10rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}
.detail .leaflet-container {
  width: 50vh;
  position: sticky;
  top: 0;
}
.detail .content {
  margin: 1rem;
  width: 100%;
}
.detail .content .update {
  font-size: 0.8rem;
  font-style: italic;
  padding: 1.7rem 0 0.2rem 0;
}
.detail .sensor-value {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 1rem 0;
}
.detail .content .titlebar {
  color: #fefefe;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -5rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  z-index: 1000;
  position: relative;
  background-color: rgb(22 78 99);
  position: sticky;
  top: 1rem;
}
.detail .content .titlebar a {
  color: #fefefe;
  background-color: rgb(8 51 68);
  border-radius: 0.3rem;
  padding: 0.3rem;
  transition: all 0.1s ease-in-out;
}
.detail .content .titlebar a:hover {
  background-color: #fefefe;
  color: rgb(8 51 68);
}
.detail .content h1 {
  font-size: 1rem;
  font-weight: bold;
}
.detail .sensor-value div {
  padding: 0.5rem;
}
.detail .sensor-value span {
  margin-top: 0.5rem;
}
.detail .recharts-responsive-container {
  max-height: 16rem !important;
}
.detail .grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.detail .grafik {
  background-color: rgb(8 51 68);
  border-radius: 0.3rem;
  padding: 1rem;
}
.detail .grafik h3 {
  color: #fefefe;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
}
.react-datetimerange-picker {
  @apply flex justify-center mb-2
}
.react-datetimerange-picker__wrapper {
  @apply flex justify-center gap-1 bg-white p-1 rounded w-auto
}
.react-datetimerange-picker__inputGroup {
  @apply p-1 bg-gray-100 rounded
}


.react-datetimerange-picker__inputGroup__input {
  width: 2.5rem!important;
  @apply pl-2 text-center rounded bg-white/80 h-full
}
.react-datetimerange-picker__button {
  @apply p-2 rounded
}
.react-datetimerange-picker--open .react-datetimerange-picker__calendar-button {
  @apply bg-blue-100
}
.react-datetimerange-picker__clear-button {
  @apply bg-red-100 border border-red-100 hover:border-red-900
}
.react-datetimerange-picker__calendar-button {
  @apply border border-gray-100 hover:border-blue-900
}
.react-datetimerange-picker__inputGroup__year, .react-datetimerange-picker__inputGroup__amPm {
  width: 3.5rem!important;
}

.react-calendar__navigation {
  @apply flex gap-2 mb-2
}

.react-calendar__navigation__arrow {
  @apply p-2 bg-gray-100 mb-0 size-8 border border-gray-100 hover:border-blue-900 flex items-center justify-center rounded
}

.react-datetimerange-picker__calendar--open {
  @apply w-full
}
.react-datetimerange-picker__calendar--closed {
  @apply hidden
}

.react-calendar__month-view__weekdays {
  @apply bg-blue-100 text-center text-sm rounded
}

.react-calendar__month-view__weekdays__weekday {
  @apply p-2 hover:bg-blue-500 hover:text-gray-100 rounded 
}

.react-calendar__tile {
  @apply p-2 border border-white hover:border-blue-900 rounded
}
.react-calendar__tile--rangeStart {
  @apply border-blue-900 rounded-none rounded-l bg-blue-100
}
.react-calendar__tile--rangeEnd {
  @apply rounded-none rounded-r border-blue-900 bg-blue-100
}
.react-calendar__tile--active {
  @apply bg-blue-100 border-blue-100 rounded-none
}
.react-calendar {
  @apply bg-white max-w-xl mx-auto p-2 rounded my-2 border border-solid border-blue-900
}

#dashboard-map .leaflet-container {
  @apply h-[calc(100vh-7rem)] rounded border-2 border-solid border-white
}