* {
	box-sizing: border-box;
	transition-property: background-color, height, border-color;
	transition-duration: .15s;
	transition-timing-function: ease-in;
}
body {
 font-family: "Open Sans", sans-serif;
}
