.panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.maps_container {
    flex-grow: 1;
    width: 100%;
    padding: 0 1rem 1rem;
    display: flex;
}
.maps {
    flex-grow: 1;
    width: 100%;
    border-radius: 1rem;
}